<% include partials/header %>

<h1>Voting Page</h1>
<div class="row">
  <%candidates.forEach(function(candidate){%>
  
  <div class="card col-md-4 col-sm-4 col-lg-4">
    <img class="card-img-top" src="<%=candidate.avatar%>" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title text-primary btn btn-outline-primary"><%=candidate.firstName%> <%=candidate.lastName%></h4><br>
        <button type="button" class="badge badge-pill badge-primary"><%=candidate.partyName%></button>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 month ago</small>
      </div>
  </div>
<%});%>
<div class= "col-lg-12">
       
    
<form action="/vote" method="POST">
  <div class="form-group" >
    <h3 >Cast Your Vote</h3>
      <select class="form-control" name="cnumber">
        <%candidates.forEach(function(candidate){%>
        <option value=<%=candidate.publicAddress%>><%=candidate.firstName%> <%=candidate.lastName%> || <%=candidate.partyName%></option>
        <%});%>
     </select>
    <button type="submit" class="btn btn-primary btn-block">Vote</button>
 </div>
</form>
</div>
</div>